h1 {
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-item {
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

img {
  display: block;
  margin: 5px auto 10px;
  border-radius: 5px;
}

.pagination {
  grid-column: span 4;
  text-align: center;
  margin-top: 20px;
}

.pagination button {
  cursor: pointer;
  color: black;
  border-radius: 10px;
  background-color: white;
  border: 0;
  padding: 5px;
  margin: 5px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}


@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .pagination {
    grid-column: span 3;
  }
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .pagination {
    grid-column: span 2;
  }
}
